.block {
	position: relative;

	&.active {
		& > .card {
			background: #D91667;
			border-color: #D91667;

			& > .card__width {
				background: #D91667!important;
			}

			&:hover {
				background: #D91667!important;
				border-color: #D91667!important;
			}
		}

		&.hover {

			&:hover {
				& .card__description_text {
					color: #D91667!important;
				}
			}
		}

		& .block__button {
			display: none!important;
		}
	}

	&.disabled {
		& > .card {
			background: #B3B3B3;
			border-color: #B3B3B3;
			cursor: default;

			& .card__cat {
				opacity: 0.5;
			}

			&__text {
				color: #B3B3B3;
			}

			& .card__description_text {
				color: #B3B3B3!important;
			}

			& .card__title{
				color: #B3B3B3!important;
			}

			& .card__subtitle{
				color: #B3B3B3!important;
			}

			& > .card__width {
				background: #B3B3B3!important;
			}

			&__subpresent {
				color: #B3B3B3!important;
			}

			&:hover {
				background: #B3B3B3!important;
				border-color: #B3B3B3!important;
				cursor: default;

				& .card__description_text {
					color: #B3B3B3!important;
				}
			}
		}

		& .block__text p {
			color: #FFFF66;
		}

		& .block__button {
			display: none!important;
		}
	}

	&__card {
		background: #1698D9;
		clip-path: polygon(0px 100%, 100% 100%, 100% 0px, 13% 0px, 0px 9%);
		border: 4px solid #1698D9;
		width: 320px;
		min-height: 480px;
		position: relative;
		border-radius: 12px;
		padding: 17px 46px;
		padding-bottom: 280px;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: space-between;

		&:after {
			position: absolute;
			content: "";
			width: 100%;
			height: 100%;
			clip-path: polygon(0px 100%, 100% 100%, 100% 0px, 13% 0px, 0px 9%);
			top: 0;
			left: 0;
			background: #FFFFFF;
			border-radius: 12px;
			z-index: -5;
		}
	}

	&__text{
		display: flex;
		justify-content: center;
		align-items: baseline;
		margin-top: 15px;
		column-gap: 5px;

		& > p {
			font-size: 13px;
			color: #ffffff;
		}
	}

	&__button {
		color: #1698D9;
		font-size: 13px;
		cursor: pointer;

		&:hover {
			border-bottom: 1px dashed #1698D9;
		}
	}
}

.card {
	cursor: pointer;

	&:hover {
		background: #1698D9!important;
		border-color: #1698D9!important;

		& .card__description_text {
			color: #666666 !important;
		}

		& .card__width {
			background: #1698D9 !important;
		}
	}

	&__description {

		&_text {
			font-size: 16px;
			color: #666666;
		}
	}

	&__cat {
		width: 100%;
		min-height: 265px;
		background-size: contain;
		background: url("../img/cat.png");
		background-repeat: no-repeat;
		background-position: center;
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: -1;
		border-radius: 12px;
	}

	&__title {
		text-align: left;
		margin-left: -2px;
		margin-top: 5px;
		font-size: 48px;
		line-height: 56px;
		font-weight: 700;
		color: #000000;
	}

	&__subtitle {
		font-size: 24px;
		font-weight: 700;
		margin-top: -1px;
	}

	&__numb {
		font-size: 14px;
		line-height: 16px;
		font-weight: 700;
		color: #666666;
		margin-top: 15px;
	}

	&__present {
		font-size: 14px;
		line-height: 16px;
		font-weight: 700;
		color: #666666;
	}
	&__subpresent {
		font-size: 14px;
		line-height: 16px;
		font-weight: 700;
		color: #666666;
	}

	&__width {
		width: 80px;
		height: 80px;
		border-radius: 50%;
		background: #1698D9;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		position: absolute;
		right: 11px;
		bottom: 11px;

		&_text {
			font-size: 21px;
			line-height: 22px;
			color: #FFFFFF;
		}

		&_numb {
			font-size: 42px;
			line-height: 40px;
			color: #FFFFFF;
		}
	}
}